{% extends 'base.html.twig' %}
{% block body %}
	<main>
		<section	id="product">
			<div	class="image">
				<img	src="/images/{{ product.image }}"	alt="{{ product.description }}"></div>
				<div	class="text">
					<h2>
						{{ product.Name }}
					</h2>
					<p	class="price">
						{{ product.price }}
						Euro
					</p>
					<div	class="description">
						<h3>
							Description
						</h3>
						<p>
							{{ product.description }}
						</p>
					</div>
					<form	action="{{ path('app_product_add', {'id': product.id}) }}"	method="post">
						
							<button	type="submit">
								Ajouter au panier
							</button>
						</form>
					</div>
				</section>
			</main>
		{% endblock %}
		