{% extends 'base.html.twig' %}
{% block body %}
	<main>
		<section	id="product">
			<div	class="image">
				<img	src="/images/{{ product.image }}"	alt="{{ product.description }}"></div>
				<div	class="text">
					<h2>
						{{ product.Name }}
					</h2>
					<p	class="price">
						{{ product.price }}
						Euro
					</p>
					<div	class="description">
						<h3>
							Description
						</h3>
						<p>
							{{ product.description }}
						</p>
					</div>
					<form	action="{{ path('app_product_add', {'id': product.id}) }}"	method="post">
						<div	class="form-group">
							<label	class="{{ quantityInCart > 0 ? '' : 'hidden' }}"	for="quantity">
								Quantité
							</label>
							<input	type="number"	id="quantity"	name="quantity"	class="form-group-quantity"	value="{{ quantityInCart > 0 ? quantityInCart : 1 }}"	min="0"	{{ quantityInCart > 0 ? '' : 'hidden' }}	required>
								<button	type="submit">
									{% if isInCart %}
										Mettre à jour
									{% else %}
										Ajouter au panier
									{% endif %}
								</button>
							</div>
						</form>
					</div>
				</section>
			</main>
		{% endblock %}
		