{% extends 'base.html.twig' %}
{% block body %}
    <section id="shopping">
        <h2>
            Mon panier
        </h2>
        <div class="container">
            {% if cart is empty %}
                <p>
                    Votre panier est vide.
                </p>
            {% else %}
                <a href="{{ path('app_cart_clear') }}" class="cancel">
                    x Vider le panier
                </a>
                <div class="list">
                    {% set total = 0 %}
                    {% for id, product in cart %}
                        {% set total = total + (product.price * product.quantity) %}
                        <figure>
                            <img src="/images/{{ product.image }}" alt="{{ product.name }}">
                                <figcaption>
                                    <h3>
                                        {{ product.name }}
                                    </h3>
                                    <p class="quantity">
                                        Quantité :
                                        {{ product.quantity }}
                                    </p>
                                    <p class="price">
                                        {{ product.price }}
                                        €
                                    </p>
                                </figcaption>
                            </figure>
                        {% endfor %}
                    </div>
                    <div class="total">
                        <div class="text">
                            <h3>
                                Total panier :
                                <span>
                                    {{ total }}
                                    €
                                </span>
                            </h3>
                            <p>
                                Frais de livraison : Offert
                            </p>
                        </div>
                    </div>
                {% endif %}
           
            {% if cart is not empty %}
                <form action="{{ path('app_order_add') }}" method="post">
                    <button type="submit">
                        Valider la commande
                    </button>
                </form>
            {% endif %}
        </section>
    {% endblock %}
    